/* AuthPage.css */
.AuthContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; /* Sposta i contenuti verso il basso */
    height: 100vh;
    color:#ffffff;
}

h1 {
    margin-bottom: 20px;
}


.AuthButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 20px 0; /* Aumentato per più spazio verticale tra i pulsanti */
}

.AuthButton:hover {
    background-color: #0e180f; /* Effetto hover */
}
