/* Estrattore.css */
.EstrattoreContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    position: relative;
    z-index: -1;
}

.giocata {
    margin-top: auto;
    color: #ffffff;
}

.message-down {
    position: relative;
    opacity: 0;
    transform: translateY(-100px);
    /* Partenza fuori dallo schermo */
    animation: slideDown 2s ease-in-out forwards;
    font-size: 30px;
    top: 0px;
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
        /* Partenza */
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        /* Arrivo */
    }
}

.message-up {
    position: relative;
    opacity: 0;
    transform: translateY(100px);
    /* Partenza dal basso */
    animation: slideUp 2s ease-in-out forwards;
    font-size: 20px;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
        /* Partenza */
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        /* Arrivo */
    }
}

@media (max-width: 480px) {
    /* Per mobile */
    .message-down {
        font-size: 20px;
        top: 5px;
    }
    .message-up {
        font-size: 16px;
    }
}