/* Estrattore.css */
.EstrattoreContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative; /* Per posizionare correttamente la barra superiore */
}

.giocata {
    margin-top: auto;
    color: #ffffff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #28a745;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-size: 24px;
}

button {
    margin-top: auto;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0e180f; /* Effetto hover */
}
