.mobile-menu {
    display: none;
}

@media (max-width: 768px) {
    /* Mostra il menu a tendina */
    .mobile-menu {
        display: block;
        position: absolute;
        top: 6px;
        right: 2px;
        background-color:white;
        padding: 5px;
        border-radius: 5px;
    }
    .mobile-menu button {
        color: white;
        background-color: black;
        z-index: 1; /* Assicurati che sia sopra l'opacità del background */
    }
    .mobile-menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 10px;
    }

    .mobile-menu ul li {
        margin: 20px 0;
    }

    .mobile-menu ul li a {
        text-decoration: none;
        color: blue;
        font-weight: bold;
        font-family: 'Poppins';
    }
}
