/* App.css */
.WelcomeMessage {
    position: fixed;  /* Posiziona il messaggio in modo fisso */
    top: 40px;        /* Posizionalo a 40px dall'alto della finestra */
    left: 50%;        /* Centra il messaggio orizzontalmente */
    transform: translateX(-50%); /* Centra esattamente il messaggio */
    background-color: rgba(0, 0, 0, 0.7); /* Sfondo semi-trasparente */
    padding: 10px 20px; /* Padding per un po' di spazio interno */
    border-radius: 5px;  /* Rende i bordi arrotondati */
    z-index: 1000;    /* Assicurati che il messaggio sia visibile sopra gli altri contenuti */
    color:bisque;
}

.App {
    padding-top: 60px;
    background-color: black; /* Colore di sfondo di base */
    background-image: url('./palline.svg'); /* Sfondo SVG */
    background-repeat: no-repeat; /* Non ripetere l'immagine */
    background-position: center; /* Centra l'immagine */
    background-size: contain;
    min-height: 100vh; /* Assicura che il div .App occupi almeno l'intera altezza della finestra */
    display: flex; /* Permette di usare flexbox per allineare i contenuti */
    flex-direction: column; /* Allinea i figli in colonna */
    justify-content: center; /* Centra verticalmente i contenuti */
    align-items: center; /* Centra orizzontalmente i contenuti */
}

.ButtonContainer {
    display: flex;
    gap: 20px;
    margin-top: auto; /* Spinge i pulsanti verso il basso */
    padding-bottom: 50px; /* Aggiunge spazio per evitare che siano troppo in basso */
}

button{
    background-color: #4CAF50; /* Verde per tutti i pulsanti */
    color: white;
}

/* Media Queries */
@media (max-width: 768px) {
    /* Per tablet */
    header {
        font-size: 20px;
    }

    button {
        font-size: 16px;
    }

    .AuthButton {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    /* Per mobile */
    header {
        font-size: 18px;
    }

    button {
        font-size: 14px;
        padding: 8px 16px;
    }

    .AuthButton {
        font-size: 14px;
        padding: 8px 16px;
    }
}
