body{
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #28a745;
    color: #ffffff;
    padding: 10px;
    font-size: 24px;
}

/* Css header button */ 

.header-button{
    float: right;
    background-color: burlywood;
    color: white
}

/* Stili per la modale */
/* Modifica per la modale */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);  /* Sfondo scuro semitrasparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Contenuto della modale con una dimensione fissa e scorrimento verticale */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    max-height: 80vh; /* Limita l'altezza della modale */
    overflow-y: auto;  /* Aggiungi una barra di scorrimento verticale quando necessario */
    display: flex;
    flex-direction: column;
}

/* Aggiungi uno spazio per il bottone di chiusura e assicurati che il contenuto scorra */
.close-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 20px;
    width: 100%;
}

.close-btn:hover {
    background-color: #d32f2f;
}


/* fine stili per la modale */

.benvenutoSuSoloAmbo{
    margin: 0; /* Elimina margini predefiniti */
    font-size: 24px; /* Dimensione del testo */
    font-weight: bold; /* Grassetto */
    line-height: 1; /* Altezza della riga uguale alla dimensione del testo */
}


.WelcomeMessage {
    width: 300px;
    position: fixed;  
    top: 50px;        
    left: 50%;        
    transform: translateX(-50%); 
    background-color: rgba(0, 0, 0, 0.7); /* Sfondo semi-trasparente */
    padding: 10px 20px; 
    border-radius: 5px;  
    z-index: 1000;    /* Assicurati che il messaggio sia visibile sopra gli altri contenuti */
    color:#ffffff;
}

.App {
    position: relative; /* Necessario per il posizionamento assoluto di ::before */
    padding-top: 0;
    background-color: black; /* Colore di sfondo di base */
    min-height: 100vh; /* Assicura che il div .App occupi almeno l'intera altezza della finestra */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.App::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./palline.svg'); /* Sfondo SVG */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 1; /* Opacità default */
    z-index: -1; /* Posiziona lo sfondo sotto al contenuto dell'elemento .App */
}

.App.dimmed-background::before {
    opacity: 0.2; /* Opacità ridotta di palline.svg */
}

.ButtonContainer {
    display: flex;
    gap: 20px;
    margin-top: auto; /* Spinge i pulsanti verso il basso */
    padding-bottom: 50px; /* Aggiunge spazio per evitare che siano troppo in basso */
}

button{
    background-color: #28a745; /* Verde per tutti i pulsanti */
    color: #ffffff;
}

/* Media Queries */
@media (max-width: 768px) {
    /* Per tablet */
    header {
        font-size: 20px;
    }

    .header-button {
        display: none; 
    }

    button {
        font-size: 16px;
    }

    .AuthButton {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    /* Per mobile */
    header {
        font-size: 18px;
    }

    button {
        font-size: 14px;
        padding: 8px 16px;
    }

    .AuthButton {
        font-size: 14px;
        padding: 8px 16px;
    }
}

